.academy-intro {
  margin-bottom: 4rem;
}

@media (max-width: 599.98px) {
  .academy-intro {
    padding-top: 2.4rem;
    margin-bottom: 2.4rem;
  }
}

picture {
  display: contents;
}

.academy-intro__card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 1rem;
  padding: 3.2rem;
  color: white;
}

@media (max-width: 599.98px) {
  .academy-intro__card {
    padding: 1.6rem;
    border-radius: 1.5rem;
    padding-top: 3.2rem;
    min-height: 53.6rem;
  }
}

.academy-intro__card-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.academy-intro__card-bg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.academy-intro__title-wrapper {
  margin-left: -3.2rem;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3rem;
}

@media (max-width: 599.98px) {
  .academy-intro__title-wrapper {
    margin-left: -1.6rem;
    margin-bottom: 2.4rem;
  }
}

.academy-intro__title-decor {
  width: auto;
  height: 7rem;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

@media (max-width: 599.98px) {
  .academy-intro__title-decor {
    height: 4.2rem;
  }
}

.academy-intro__title {
  padding-left: 3.2rem;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.0256rem;
  text-transform: uppercase;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

@media (max-width: 599.98px) {
  .academy-intro__title {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: 0.0256rem;
    text-transform: uppercase;
    padding-left: 1.6rem;
  }
}

.academy-intro__large-text {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 1.6rem;
  max-width: 47rem;
}

@media (max-width: 599.98px) {
  .academy-intro__large-text {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
  }
}

.academy-intro__small-text {
  max-width: 54rem;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #3a8dde;
}

@media (max-width: 599.98px) {
  .academy-intro__small-text {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    max-width: none;
  }
}

.academy-program {
  background-color: #fff;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

@media (max-width: 599.98px) {
  .academy-program {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    margin-bottom: 2.4rem;
  }
}

.academy-program__heading {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9a9a9a;
  margin-bottom: 1.6rem;
}

@media (max-width: 599.98px) {
  .academy-program__heading {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 0.8rem;
  }
}

.academy-program__secondary-heading {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.5rem;
  max-width: 100rem;
  margin-bottom: 3.2rem;

  em {
    color: #3a8dde;
    font-style: normal;
  }
}

@media (max-width: 599.98px) {
  .academy-program__secondary-heading {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 108%;
    max-width: none;
  }
}

.academy-program__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1.6rem;
  margin-bottom: 7rem;
}

@media (max-width: 599.98px) {
  .academy-program__list {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1.6rem;
    margin-bottom: 2.4rem;
  }
}

.academy-program__list-item {
  display: flex;
  flex-direction: column;
}

.academy-program__card {
  border-radius: 1rem;
  background: linear-gradient(3deg, #fff -47.77%, #3a8dde 49.88%);
  color: white;
  overflow: hidden;
  min-height: 28.4rem;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 599.98px) {
  .academy-program__card {
    padding: 1.6rem;
    min-height: 23.3rem;
  }
}

.academy-program__card-title {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  max-width: 30rem;
}

@media (max-width: 599.98px) {
  .academy-program__card-title {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    max-width: 28rem;
  }
}

.academy-program__card-number {
  font-size: 22.4418rem;
  font-style: normal;
  font-weight: 600;
  line-height: 37%;
  letter-spacing: -1.1221rem;
  margin-top: auto;
  margin-right: -4rem;
  margin-left: auto;
}

@media (max-width: 599.98px) {
  .academy-program__card-number {
    font-size: 20rem;
    font-style: normal;
    font-weight: 600;
    line-height: 50%;
    letter-spacing: -1rem;
    margin-right: -2.8rem;
  }
}

.academy-program__image {
  display: block;
  width: 100%;
  height: auto;
}

.academy-formats {
  margin-bottom: 6.4rem;
}

@media (max-width: 599.98px) {
  .academy-formats {
    margin-bottom: 4.8rem;
  }
}

.academy-formats__heading {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9a9a9a;
  margin-bottom: 1.6rem;
}

@media (max-width: 599.98px) {
  .academy-formats__heading {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.academy-formats__secondary-heading {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.5rem;
  margin-bottom: 1rem;
  color: #313131;

  b {
    font-weight: inherit;
    color: #3a8dde;
  }
}

@media (max-width: 599.98px) {
  .academy-formats__secondary-heading {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 108%;
    margin-bottom: 2.4rem;
  }
}

.academy-formats__text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 110rem;
  margin-bottom: 3rem;
  color: #282828;
}

@media (max-width: 599.98px) {
  .academy-formats__text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 3rem;
  }

  .academy-formats__text p {
    margin-top: 0.8rem;
  }

  .academy-formats__text p:first-child {
    margin-top: 0;
  }
}

.academy-formats__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1.5rem;
}

@media (max-width: 599.98px) {
  .academy-formats__list {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 2.4rem;
  }
}

.academy-formats__list-item {
  display: flex;
  flex-direction: column;
}

.academy-formats__card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "title title" "arrow text";
  grid-template-rows: 1fr auto;
  flex-grow: 1;
  border-radius: 1rem;
  min-height: 21.6rem;
}

.academy-formats__card::before {
  content: "";
  background-color: #fff;
  border-radius: 1rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.academy-formats__card::after {
  content: "";
  background-color: #fff;
  border-radius: 1rem;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  border-top-left-radius: 0;
  background-image: url("../img/academy-formats/decor.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 10rem;
}

@media (max-width: 599.98px) {
  .academy-formats__card {
    min-height: 20rem;
  }

  .academy-formats__card::after {
    background-size: auto 8.4rem;
  }
}

.academy-formats__card-title {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  grid-area: title;
  justify-self: flex-start;
  align-self: flex-start;
  width: min-content;
  margin-left: 2.4rem;
  margin-top: 2.4rem;
  z-index: 5;
}

@media (max-width: 599.98px) {
  .academy-formats__card-title {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-left: 1.6rem;
    margin-top: 1.6rem;
  }
}

.academy-formats__card-arrow {
  grid-area: arrow;
  align-self: flex-end;
  justify-self: flex-start;

  z-index: 5;
  background-color: #fff;
}

.academy-formats__card-arrow-outer {
  background-color: #f5f5f5;
  border-top-right-radius: 2rem;
  /* background-color: red; */
  padding: 1rem;
  padding-left: 0;
  padding-bottom: 0;
}

@media (max-width: 599.98px) {
  .academy-formats__card-arrow-outer {
    padding: 0.8rem;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.academy-formats__card-arrow-inner {
  display: grid;
  place-items: center;
  width: 7rem;
  height: 6rem;
  border-radius: 1.5rem;
  background: #204a8f;
}

.academy-formats__card-arrow-inner svg {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  fill: white;
}
@media (max-width: 599.98px) {
  .academy-formats__card-arrow-inner {
    width: 5.6rem;
    height: 4.3rem;
  }
  .academy-formats__card-arrow-inner svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.academy-formats__card-text {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  margin-bottom: 2.4rem;
  margin-left: 3rem;
  max-width: 34rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  z-index: 5;
  align-self: flex-end;
  justify-self: flex-start;
}

@media (max-width: 599.98px) {
  .academy-formats__card-text {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 1.6rem;
    max-width: none;
    margin-left: 1.6rem;
  }
}

.academy-schedule {
  padding-top: 4rem;
  background-color: #fff;
  padding-bottom: 4.8rem;
}

@media (max-width: 599.98px) {
  .academy-schedule {
    padding-top: 2.4rem;
  }
}

.academy-schedule__heading {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.5rem;
  margin-bottom: 3.2rem;
}

@media (max-width: 599.98px) {
  .academy-schedule__heading {
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
    margin-bottom: 1.6rem;
  }
}

.academy-schedule__card {
  padding: 3.2rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  min-height: 29.5rem;
  color: white;
  display: flex;
  flex-direction: column;
}

@media (max-width: 599.98px) {
  .academy-schedule__card {
    padding: 3.2rem 1.6rem;
    min-height: 52rem;
    justify-content: flex-end;
  }
}

.academy-schedule__card-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.academy-schedule__card-title {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #3a8dde;
  margin-bottom: 0.8rem;
}

@media (max-width: 599.98px) {
  .academy-schedule__card-title {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 1.6rem;
  }
}

.academy-schedule__card-large-text {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-wrap: balance;
  max-width: 48rem;
  margin-bottom: 1.6rem;
}

@media (max-width: 599.98px) {
  .academy-schedule__card-large-text {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    max-width: none;
  }
}

.academy-schedule__card-small-text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 48rem;
  margin-bottom: 2.4rem;
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 599.98px) {
  .academy-schedule__card-small-text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 1.6rem;
  }
}

.academy-schedule__card-remark {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #3a8dde;
}

@media (max-width: 599.98px) {
  .academy-schedule__card-remark {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}

.library {
  margin-bottom: 6rem;
}

@media (max-width: 599.98px) {
  .library {
    padding-top: 1rem;
    margin-bottom: 5rem;
  }
}

.library__heading {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 4.5rem;
  color: #1a1919;
}

@media (max-width: 599.98px) {
  .library__heading {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
  }
}

.library__top-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

@media (max-width: 599.98px) {
  .library__top-row {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3.2rem;
  }
}

@media (max-width: 599.98px) {
  .library__categories {
    margin: 0 calc(-1 * var(--side-padding, 0));
    padding: 0 var(--side-padding, 0);
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-padding-left: var(--side-padding, 0);
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .library__categories::-webkit-scrollbar * {
    background: transparent;
  }

  .library__categories::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .library__categories::-webkit-scrollbar {
    display: none;
    background-color: transparent;
  }
  .library__categories::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.library__categories-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

@media (max-width: 599.98px) {
  .library__categories-list {
    flex-wrap: nowrap;
    width: max-content;
    flex-shrink: 0;
  }
}

.library__categories-list-item {
  flex-shrink: 0;
}

.library__categories-link {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding: 1.2rem 1.6rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #000;
  transition: background-color 0.2s, color 0.2s;
  display: block;
}

@media (max-width: 599.98px) {
  .library__categories-link {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    padding: 0.9rem 1.6rem;
  }
}

.library__categories-link:link,
.library__categories-link:visited {
  color: black;
}

.library__categories-link.active {
  background: #204a8f;
  color: white;
}

@media (hover: hover) and (pointer: fine) {
  .library__categories-link:hover {
    background: #204a8f;
    color: white;
  }
}

.library__search {
  width: 38.8rem;
}

@media (max-width: 599.98px) {
  .library__search {
    width: auto;
    order: -10;
  }
}

.library__search-form {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #4d4d4f;
  padding-right: 1.8rem;
}

@media (max-width: 599.98px) {
  .library__search-form {
    border-color: #204a8f;
  }
}

@media (max-width: 599.98px) {
  .library__search-form {
    padding-right: 1.6rem;
  }
}

.library__search-input {
  width: 30%;
  flex-grow: 1;
  font: inherit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 4rem;
  color: black;
  padding: 0 1.8rem;
  background-color: transparent;
  border: none;
  outline: none;
}

@media (max-width: 599.98px) {
  .library__search-input {
    padding: 0 1.6rem;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.026rem;
  }
}
.library__search-input::placeholder {
  color: #204a8f;
}

.library__search-submit {
  flex-shrink: 0;
  width: 1.8rem;
  height: 1.8rem;
  display: grid;
  place-items: center;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.library__search-submit svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: rgba(32, 74, 143, 1);
}

.library__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 1.6rem;
}

@media (max-width: 599.98px) {
  .library__list {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1.6rem;
  }
}

.library__list-item {
  display: flex;
  flex-direction: column;
}

.library__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 1rem;
}

.library__card-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 255 / 180;
  margin-bottom: 1.6rem;
}

@media (max-width: 599.98px) {
  .library__card-image-container {
    aspect-ratio: 318 / 181;
    margin-bottom: 1.2rem;
  }
}

.library__card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: url("../img/library/mask.svg");
  mask-image: url("../img/library/mask.svg");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
}

@media (max-width: 599.98px) {
  .library__card-image {
    -webkit-mask-image: url("../img/library/mask-mobile.svg");
    mask-image: url("../img/library/mask-mobile.svg");
  }
}

.library__card-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #fff;
  border-radius: 1.5rem;
  display: grid;
  place-items: center;

  img {
    width: 1.4rem;
    height: 1.4rem;
    object-fit: contain;
  }
}

.library__card-icon svg {
  width: 1.4rem;
  height: 1.4rem;
  fill: #204a8f;
}

.library__card-date {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #9a9a9a;
  margin-bottom: 0.8rem;
}

@media (max-width: 599.98px) {
  .library__card-date {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 1.6rem;
  }
}

.library__card-title {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.84rem;
  margin-bottom: 1.6rem;
}

@media (max-width: 599.98px) {
  .library__card-title {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
  }
}

.library__card-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.library__card-tag {
  flex-shrink: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 0.4rem 0.8rem;
  color: #204a8f;
  border-radius: 0.4rem;
  background: #e6eaf0;
}

@media (max-width: 599.98px) {
  .library__card-tag {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
}

.nav-bread ul li.active {
  color: #9a9a9a;
}
@media (max-width: 599.98px) {
  .nav-bread {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 0.0256rem;
  }
}

.pagination {
  margin-top: 4rem;
}

@media (max-width: 599.98px) {
  .pagination {
    margin-top: 2.8rem;
  }
}

.pagination__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2.4rem;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}

@media (max-width: 599.98px) {
  .pagination__list {
    gap: 3rem;
    justify-content: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}

.pagination__link {
  display: block;
}
.pagination__link.active {
  color: #003e7b;
}

.pagination__link:hover {
  color: #003e7b;
}

.pagination__link svg {
  width: 0.9rem;
  height: 0.9rem;
  fill: currentColor;
  display: block;
}

@media (max-width: 599.98px) {
  .pagination__link svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}
